<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div fxLayout="column">
  <div fxFlex="30%" fxLayout="row" class="dashboard">
    <div fxFlex="20%" ><h2>Fundoo Keep</h2></div>
    <div fxFlex="20%" >
      <form class="search">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  <div fxFlex="70%">
      
  </div>
</div>