.dashboard{
    text-align:left;
    background-color: #fb0;
}
.serach{
    width:100%;
}
.btn{
    /* margin:0% 40% 0% 40%; */
background-color: #fb0;
border: none;
color: black;
font-size: 200%;
cursor: pointer;
padding:20%;
/* border-radius: 50%; */
}