<div fxLayout="column" fxLayoutGap="2%">
    <div fxFlex.lg="2%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
    <div  fxLayout="row">
      <div fxFlex.lg="0%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>

      <div fxFlex.lg="100%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%">
          <header  class="dashboard">
            <h2>Google Keep</h2>
          </header>
      </div>

      <div fxFlex.lg="0%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
    </div>
  <div fxFlex.lg="2%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
</div>