@import '../../../scss/variables';
@import '../../../scss/mixins';

.main2{
    background-color:#e7e7e7;
    border-bottom: 3px solid rgb(197, 195, 195);
}
.main{
    margin-top:2%;
}
@media only screen and (min-width: 320px) and (max-width:599px){
    .main {
        width:100%;
    }
    .main2 {
        width:100%;
    }
}
@media only screen and  (min-width: 600px) and (max-width: 959px){
    .main {
       width:100%;
    }
    .main2 {
        max-height:200px;
        overflow-y: auto;
        width:100%;
        position: fixed;
        z-index: 1;
    }
    .div{
        margin-bottom:180px;
    }
}
@media only screen and  (min-width: 960px) and (max-width: 1279px){
    .main {
        width:700px
    }
    .main2 {
        width:700px;
        position: fixed;
        z-index: 1;
        max-height:200px;
        overflow-y: auto;
    }
    .div{
        margin-bottom:180px
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1919px){
    .main {
        width:1000px
    }
    .main2 {
        width:1000px;
        position: fixed;
        z-index: 1;
        max-height:200px;
        overflow-y: auto;
    }
    .div{
        margin-bottom:180px;
    }
}
@media only screen and (min-width: 1920px) and (max-width: 5000px){
    .main {
        width:1100px
    }
    .main2 {
        width:1100px;
        position: fixed;
        z-index: 1;
        max-height:200px;
        overflow-y: auto;
    }
    .div{
        margin-bottom:180px
    }
}
.margin{
    margin-bottom:20px;margin-top:20px
}

.title{
    font-size: 28px;
    word-wrap: break-word;
    // width:90%;
    @include overflowText;
}
.description2{
    font-size: 20px;
    @include overflowText;
    word-wrap: break-word;
    // width:90%;
}
.description{
    font-size: 20px;
    word-wrap: break-word;
    // width:90%;
}
.message{
    word-wrap: break-word;
    // width:90%;
}
.aaa{
    word-wrap: break-all;
}
.star{
    @include margin(-8px,0px,0px,0px);
}
.body{
    @include margin(2%,0%,2%,0%);
}
.details{
    font-size: 12px;
    // margin-right:5%;
}
.body2{
    @include margin(2%,0%,0%,0%);
    // border:1px solid black
}
.body3{
    @include margin(1%,0%,0%,10%);
    // border:1px solid teal
}
.input{
   font-size: 15px;
    border:1px dashed rgb(212, 211, 211);
    width:80%;
    outline:none;
}
.input:empty:before{
    content: attr(data-text);
    @include opacity(0.5);
    font-size: 15px;
    width:60%;
}
.image{
    @include margin(0px,20px,0px,10px);
}
.nameIcon{
    font-size: 29px;
    @include color-test($test-color-blue);
    @include padding(3px,0px,0px,0px);
}
.close{
    float:right;
    margin-top:10px;
}
.opacity{
    opacity: 0.5;
}
.border{border:1px dashed gray}