<div fxLayout="column">
<div fxLayout=row fxLayoutAlign=center class=div >
<div class=main2>
<div>
  <button mat-button class=close (click)=close()>close</button>
  <div style="margin-bottom:20px;margin-top:20px">
    <div class="title">{{note.title}}</div>
    <div class=description2>{{note.description}}</div>
    <div *ngFor='let data of note.noteCheckLists'>
      <div *ngIf="data.status=='open'" class=description><mat-checkbox>{{data.itemName}}</mat-checkbox></div>
      <div *ngIf="data.status=='close'" class=description><mat-checkbox checked=true>
      <del>{{data.itemName}}</del></mat-checkbox></div>
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class=body *ngIf="questions.length==0">
    <div class=description>Ask a Question</div>
    <div class=input contenteditable=true #question editable=true data-text="Type your question here???"
    (keydown.enter)=addQuestion()></div>
  </div>
  <div class=body *ngIf="questions.length!=0">
    <div *ngFor="let item of questions">
      <div *ngIf="item.parentId==undefined" class=description>Question Asked</div>
      <div *ngIf="item.parentId==undefined"class=description2 style="opacity:0.5">{{item.message}}</div>
    </div>
  </div>
</div></div>
</div>
<div fxLayout=row fxLayoutAlign=center>
  <div *ngIf="questions.length!=0" class=main>
    <!-- *******************************question start************************************ -->
    <div *ngFor="let item of questions" class=body>
      <div *ngIf="item.parentId==undefined" fxLayout="row">
      <div class=image>
        <div mat-card-avatar ngStyle.xs="width:25px;height:25px" 
        [ngStyle]="{'background-image':'url(' +img+item.user.imageUrl+ ')',
        'background-size':'cover','height':'40px','width':'40px','border-radius':'50%'}"></div>
      </div>
      <div fxLayout="row wrap">
      <div>
        <div class=details>{{item.user.firstName}} {{item.user.lastName}}
          <span class=details> {{item.createdDate | date:'medium'}}</span></div>
        <div class=description [innerHTML]="item.message"></div>
      </div>
      <div fxLayout=row>
      <button mat-icon-button class=icon><mat-icon (click)=replyToQuestion(item)>reply</mat-icon></button>
      <button mat-icon-button class=icon *ngIf="Check(item.like)"><mat-icon class=blue
        (click)=like(item)>thumb_up_alt</mat-icon></button>
      <button mat-icon-button class=icon *ngIf="!Check(item.like)">
        <mat-icon (click)=like(item)>thumb_up_alt</mat-icon></button>

      <div class=margin_top10>{{countLIke(item)}} likes</div>
      <div class=star *ngIf=rateCheck(item.rate)>
        <bar-rating [(rate)]=ratingValue (rateChange)="rating(item,$event)"[max]="5"></bar-rating>
      </div>
      <div class=margin_top10>{{rateCount(item.rate)}}</div>
      </div>
      </div>
    </div>
    </div>
    <div *ngIf="reply">
        <mat-divider></mat-divider>
        <div fxLayout=row class=body>
          <div fxFlex=70 class=input style="border:1px dashed gray" contenteditable=true 
          #replayMessage editable=true data-text="Reply..."></div>
          <button fxFlex=10 mat-button style="border:1px dashed gray" (click)=answer()>Reply</button>
        </div>
     </div>
    <!-- *******************************question end************************************ -->

    <!-- *******************************reply of question start************************************ -->
    <div *ngFor="let data of questions" >
      <div  *ngIf="data.parentId==questions[0].id" class=body2>

        <div fxLayout="row">
          <div fxFlex.xl=8 fxFlex.lg=8 fxFlex.md=8 fxFlex.sm=8 fxFlex.xs=15>
            <div class=image>
            <div mat-card-avatar ngStyle.xs="width:30px;height:30px" 
            [ngStyle]="{'background-image':'url(' +img+data.user.imageUrl+ ')',
            'background-size':'cover','height':'40px','width':'40px','border-radius':'50%'}"></div>
          </div>
        </div>
          <!-- <div fxLayout="row wrap"> -->
          <div fxFlex.xl=85 fxFlex.lg=85 fxFlex.md=85 fxFlex.sm=85 fxFlex.xs=80>
            <div class=details>{{data.user.firstName}} {{data.user.lastName}} 
            <span class=details>{{data.createdDate | date:'medium'}}</span></div>
            <div [innerHTML]="data.message"></div>
          
        
        <div fxLayout=row fxLayoutAlign=end>
          <button mat-icon-button class=icon><mat-icon (click)=replyToReply(data)>reply</mat-icon></button>
          <button mat-icon-button class=icon *ngIf="likeCheck(data.like)"><mat-icon class=blue 
            (click)=like(data)>thumb_up_alt</mat-icon></button>
          <button mat-icon-button class=icon *ngIf="!likeCheck(data.like)"><mat-icon 
            (click)=like(data)>thumb_up_alt</mat-icon></button>
          <div class=margin_top10>{{countLIke(data)}} likes</div>
          <div class=star *ngIf=rateCheck(data.rate)>
              <bar-rating [(rate)]=ratingValue (rateChange)="rating(data,$event)"[max]="5"></bar-rating>
          </div>
          <div class=margin_top10>{{rateCount(data.rate)}}</div>
          <button mat-icon-button class=icon *ngIf="!showReply || id2!=data.id" 
          (click)="replyShowing(data,true)"><mat-icon>keyboard_arrow_down</mat-icon></button>
          <button mat-icon-button class=icon *ngIf="showReply && id2==data.id" 
          (click)="replyShowing(data,false)"><mat-icon>keyboard_arrow_up</mat-icon></button>
        </div></div>
      </div>
      <div *ngIf="reply2 && id2==data.id">
          <mat-divider></mat-divider>
          <div fxLayout=row class=body>
            <div fxFlex=70 class=input style="border:1px dashed gray" contenteditable=true #replayMessage editable=true data-text="Reply..."></div>
            <button fxFlex=10 mat-button style="border:1px dashed gray" (click)=answer()>Reply</button>
          </div>
       </div>
      <!-- *******************************reply of question end************************************ -->

        <!-- *******************************reply of reply start************************************ --> 

        <div *ngFor="let data2 of questions">
          <div *ngIf="data2.parentId==data.id" class=body3>
            <div fxLayout="row" *ngIf="showReply && id2==data.id">
                <div fxFlex.xl=8 fxFlex.lg=8 fxFlex.md=8 fxFlex.sm=8 fxFlex.xs=15><div class=image>
                <div mat-card-avatar ngStyle.xs="width:30px;height:30px" 
                [ngStyle]="{'background-image':'url(' +img+data2.user.imageUrl+ ')',
                'background-size':'cover','height':'40px','width':'40px','border-radius':'50%'}"></div>
              </div></div>
                  <div fxFlex.xl=85 fxFlex.lg=85 fxFlex.md=85 fxFlex.sm=85 fxFlex.xs=80>
                <div class=details>{{data2.user.firstName}} {{data2.user.lastName}}
                <span class=details>{{data2.createdDate | date:'medium'}}</span></div>
                <div [innerHTML]="data2.message"></div>
              
            <div fxLayout=row fxLayoutAlign=end>
              <button mat-icon-button class=icon *ngIf="likeCheck(data2.like)">
              <mat-icon class=blue (click)=like(data2)>thumb_up_alt</mat-icon></button>
              <button mat-icon-button class=icon *ngIf="!likeCheck(data2.like)">
              <mat-icon (click)=like(data2)>thumb_up_alt</mat-icon></button>
              <div class=margin_top10>{{countLIke(data2)}} likes</div>
              <div class=star *ngIf=rateCheck(data2.rate)>
                  <bar-rating [(rate)]=ratingValue (rateChange)="rating(data2,$event)"[max]="5"></bar-rating>
              </div>
              <div class=margin_top10>{{rateCount(data2.rate)}}</div>
            </div>
          </div></div>
          </div>
        </div>
      </div>
    </div>
    <!-- *******************************reply of reply end************************************ -->      

    
  </div>
  
</div>
</div>