<div fxLayoutAlign="center" *ngIf="noteCard" >
  <mat-card class="card" (click)="openDialog()" fxFlex.xl="50%" fxFlex.lg="600px" fxFlex.md="500px" fxFlex.sm="500px" fxFlex.xs="300px">
    <span style="opacity:0.6">Take a note...</span>
    <mat-icon class="icon">edit</mat-icon>
    <mat-icon class="icon">panorama</mat-icon>
    <mat-icon class="icon" style="font-size: 35px">list</mat-icon>
  </mat-card>
</div>
<div fxLayoutAlign="center" *ngIf="popupCard">
  <mat-card class="card">
    <div fxLayout="row">
      <div fxFlex="90%" data-text="Title" contenteditable="true" class="textarea" style="font-weight: 600"></div>
      <div fxFlex="10%" class="card2"><img src="../../../assets/img/pin.svg"></div>
      </div>
      <!-- <mat-icon class="card2" (click)="star()" *ngIf="star_border">star_border</mat-icon> -->
      <!-- <mat-icon class="card2" (click)="star()" *ngIf="star_filled" style="color:blue">star</mat-icon> -->
    <div data-text="Take a Note..." contenteditable="true" class="textarea"></div>

    <abbr title="Remind me"><a routerLink="/navbar/notes/remind" routerLinkActive="active">
      <img src="../../../assets/img/reminder.svg" style=" padding-right:1%;opacity:0.6"></a></abbr>

    <abbr title="Collaborator"><mat-icon class="card2" >person_add</mat-icon></abbr>
    <abbr title="Change color"><mat-icon class="card2" >palette</mat-icon></abbr>
    <abbr title="Add image"><mat-icon class="card2" >panorama</mat-icon></abbr>
    <abbr title="Archive"><mat-icon class="card2" >archive</mat-icon></abbr>
    <abbr title="More"><mat-icon class="card2" >more_vert</mat-icon></abbr>
    <abbr title="Undo"><mat-icon class="card2" >undo</mat-icon></abbr>
    <abbr title="Redo"><mat-icon class="card2" >redo</mat-icon></abbr>
    <button mat-button style="float: right" (click)="openDialog()">close</button>
  </mat-card>
 
</div>
<div>
<router-outlet></router-outlet></div>
