a{
  color:rgb(33, 33, 241);
  text-decoration-line: none;
}
.error{
  font-size: 70%;
  color:red;
}
.page{
  margin-top:4px;
}
.header{
  font-size: 25px;
  font-family: fantasy;
  font-weight: bold;
}
.fullwidth{
  width:100%;
}
.content{
  max-width:300px;
}
.blue{
  color:rgb(62, 62, 238);
}
.red{
  color:red;
}
.yellow{
  color:rgb(240, 176, 0);
}
.green{
  color:green;
}