
<div fxLayout="column" fxFlex="100%" fxLayoutGap="5%" >
  
  
  <div fxFlex="10%" fxLayout="row" fxFlex.xs="2%" fxFlex.sm="5%" fxFlex.md="8%"></div>
  

  <div fxFlex="80%">

    <div fxFlex="25%" fxLayout="row" fxFlex.xs="25%" fxFlex.sm="30%" fxFlex.md="30%" fxFlex.lg="40%" fxFlex.xl="50%" ></div>

    <div fxFlex="50%" >
      <mat-card>
      <div class="center"><span class="blue">G</span><span class="red">o</span><span class="yellow">o</span><span class="blue">g</span><span class="green">l</span><span class="red">e</span></div>
      <p class="signin">Sign in</p>
      <p class="center">Continue to Gmail</p>
      <form  class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email or phone" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="password" matInput placeholder="password">
        </mat-form-field>
        <div  class="button-row"><a mat-flat-button routerLink=".">Next</a></div>
      </form>
      <p><a class="a" href="#">Forgot email?</a></p>
      <p><a class="a" href="/signup">Create account</a></p>
      </mat-card>
    </div>

    <div fxFlex="25%" fxLayout="row" fxFlex.xs="25%" fxFlex.sm="30%" fxFlex.md="30%" fxFlex.lg="40%" fxFlex.xl="50%"  ></div>

  </div>

  <div fxFlex="10%" fxLayout="row" fxFlex.xs="2%" fxFlex.sm="5%" fxFlex.md="8%"  ></div>

</div>

