<div fxLayout=column fxLayoutGap="5%">
  <div fxFlex.lg="20%" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="0%"></div>
  <div  fxLayout="row" fxFlex.lg="70%">
    <div fxFlex.lg="30%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>

    <div fxFlex.lg="40%" fxFlex.md="50%" fxFlex.sm="60%" fxFlex.xs="100%">
      
      <!-- ****************************matcard start****************************** -->
      <mat-card>
        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
          <div fxLayoutAlign="center" class=userPage_header>
            <span class=blue>F</span><span class=red>u</span><span class=yellow>n</span>
            <span class=blue>d</span><span class=green>o</span><span class=red>o</span>
          </div>
          <mat-card-title fxLayoutAlign=center><h4>Find your email</h4></mat-card-title>
          <mat-card-actions fxLayoutAlign=center>Enter your recovery email</mat-card-actions>
            
          <mat-form-field class=full_width>
            <input matInput placeholder="email" [(ngModel)]="model.email" name="email" 
              [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" #email="ngModel" required >
          </mat-form-field>
          <mat-error *ngIf="f.submitted && email.invalid">
            <mat-error *ngIf="email.errors.required" class="error">email is required</mat-error>
          </mat-error>

          <div  fxLayoutAlign="end"><button mat-button class=mat_button type="submit" (click)="reset()">
          Next</button></div>
          <div class=back (click)=login()>back</div>

        </form>
      </mat-card>
      <!-- ****************************matcard end****************************** -->

    </div>

    <div fxFlex.lg="30%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
  </div>
  <div fxFlex.lg="20%" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="0%"></div>
</div>