<div fxLayout="column" fxLayoutGap="5%">
  <div fxFlex.lg="20%" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="0%"></div>
  <div  fxLayout="row" fxFlex.lg="70%">
    <div fxFlex.lg="30%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>

    <div fxFlex.lg="40%" fxFlex.md="50%" fxFlex.sm="60%" fxFlex.xs="100%">
      <mat-card>
        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
          <div fxLayoutAlign="center" class="header">
            <img src="../../assets/img/fundoo.png" height=50% width=50%></div>
          <mat-card-title fxLayoutAlign="center" class="header">Find your email</mat-card-title>
          <mat-card-actions fxLayoutAlign="center">Enter your recovery email</mat-card-actions>
            
          <mat-form-field class=email>
            <input matInput placeholder="email" [(ngModel)]="model.email" name="email" 
              [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" #email="ngModel" required >
          </mat-form-field>
          <mat-error *ngIf="f.submitted && email.invalid">
            <mat-error *ngIf="email.errors.required" class="error">email is required</mat-error>
          </mat-error>

          <div  fxLayoutAlign="end"><button mat-flat-button type="submit" (click)="reset()">Next</button></div>
          <p><a class="a" href="/login">back</a></p>
        </form>
      </mat-card>
    </div>

    <div fxFlex.lg="30%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
  </div>
  <div fxFlex.lg="20%" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="0%"></div>
</div>