<div class="navbar" #navbar>
  <mat-toolbar-row>
    <div fxLayout="row" fxFlex="100%" fxLayoutGap="5%" class=margin_15>
      <div fxFlex="5%"></div>
      <div fxFlex="90%" class=font>Fundoo Notes</div>
      <div fxFlex="5%"></div>
    </div>
  </mat-toolbar-row>
  <mat-card  fxLayout="column" fxLayoutGap="5%">
    <div fxFlex="2%"></div>
    <div fxLayoutAlign=center class=font>Which FundooNotes service package do you want?</div>
    <div fxLayoutAlign=center fxLayoutGap="10%">
          <div class=div (click)=cardSelect()>
          <mat-card  class=notSelected>
            
            <div fxFlex=column fxLayoutGap="10%">
                <div class=font_20>$6.99 per month</div>
                <div>advance</div>
                <ul>
                    <li class=features>Unlimited Wall space</li>
                    <li class=features>Nice interface</li>
                    <li class=features>$6.99/month</li>
                    <li class=features>Ability to add only title and description</li>
                </ul>
              </div>
          </mat-card>
          <mat-card class="card">
              <div>ADD TO CART</div>
          </mat-card>
         
      </div>
      <div class=div (click)=cardSelect()>
        <mat-card class=notSelected >
          <div fxFlex=column fxLayoutGap="12%">
            <div class=font_20>$3.99 per month</div>
            <div>basic</div>
            <ul>
              <li class=features>Unlimited Wall space</li>
              <li class=features>Nice interface</li>
              <li class=features>$3.99/month</li>
              <li class=features>Ability to add only title and description</li>
            </ul>
          </div>
        </mat-card>
        
        <mat-card class="card">
            <div>ADD TO CART</div>
        </mat-card>
        
      </div>
    </div>
    <div></div>

  </mat-card>
  </div>
