<div class="navbar" #navbar>
  <mat-toolbar-row>
    <div fxLayout="row" fxFlex="100%" fxLayoutGap="5%" class=margin_15>
      <div fxFlex="5%"></div>
      <div fxFlex="90%" class=font>Fundoo Notes</div>
      <div fxFlex="5%"></div>
    </div>
  </mat-toolbar-row>
</div>
  <div  fxLayout="column" fxLayoutGap="4%">
    <div fxFlex="2%"></div>
    <div fxLayoutAlign=center class=font>Which FundooNotes service package do you want?</div>

    <app-loader *ngIf=loader></app-loader>
    <div fxLayout=row fxLayoutAlign=center fxLayoutGap="10%">
        <div  *ngFor="let data of card" class=div (click)=cardSelect(data)>
        <mat-card  class=notSelected >
          
          <div fxFlex=column fxLayoutGap="10%">
              <div class=font_size>price: ${{data.price}} per month</div>
              <div class=blue>{{data.name}}</div>
                  <li class=features>${{data.price}}/month</li>
                  <li class=features>{{data.description}}</li>
            </div>
        </mat-card>
        <mat-card class=card>
            <div *ngIf="data.id!=cardId" class=add>ADD TO CART</div>
        </mat-card>
       
    </div>
   
  </div>
  <div class="back" fxLayoutAlign=center (click)=signin()>Sign in instead</div>



  </div>