@import '../../../scss/mixins';
@import '../../../scss/variables';
.navbar {
    @include back-ground-color(#fb0);
    width:100%;
    // height:fixed;
    position: fixed
}
.notSelected{
    width:200px;z-index: 10
}
.font_20{
    font-size: 20px;
}
.features{
    margin-top:10px;font-size: 12px
}
.font{
    font-size: 25px
}
.card{
    width: 200px;
    margin-top: -120%;
    padding:128% 0% 7% 15%;

    margin-left: 10%;
    background-color: rgb(172, 172, 172);
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
}
.div:hover .card{
    width: 200px;
    padding:120% 0% 12% 15%;
    margin-top: -110%;
    margin-left: 10%;
    background-color: rgb(238, 214, 80);
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
}

