<mat-card>
<div>Collaborators</div>
<mat-divider></mat-divider>
<div class=margin>
    <mat-card-header>
        <div mat-card-avatar [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover',
        'height':'40px','width':'40px','border-radius':'50%'}" ></div>
        <mat-card-title>{{firstName}}  {{lastName}} (Owner)</mat-card-title>
        <mat-card-subtitle>{{email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-header *ngFor="let aa of colaborators">
            <div mat-card-avatar class="addPerson"><mat-icon class=icon>person</mat-icon></div>
            
            <mat-card-title>{{aa.firstName}}  {{aa.lastName}}</mat-card-title>
            <mat-card-subtitle>{{aa.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-header>
        <div mat-card-avatar class="addPerson"><mat-icon class=icon>person_add</mat-icon></div>
        <input placeholder="person or email to share with" [matMenuTriggerFor]="menu"
        [(ngModel)]="searchValue" (keyup)="searchUser()">
    </mat-card-header>
</div>
<div class=pp>
    <div fxLayoutAlign="end">
        <button mat-button (click)=cancel()>cancel</button>
        <button mat-button>save</button>
    </div>
</div>
 </mat-card>
 <mat-menu #menu="matMenu">
   <div *ngFor="let data of userList">
    <button class=name (click)="addCol(data)">
        {{data.firstName}} {{data.lastName}} [{{data.email}}]
    </button>
</div>
  </mat-menu>