<abbr title="Remind me" (click)="remindMe()">
    <img src="../../../assets/img/reminder.svg" [matMenuTriggerFor]="menu"></abbr>

<mat-menu #menu="matMenu">
    <div mat-menu-item>Reminder:</div>
    <div fxLayout="row" mat-menu-item class="menu">
        <div fxFlex=60%>Later today</div><div fxFlex="40%">8:00 PM</div>
    </div>
    <div fxLayout="row" mat-menu-item class="menu">
        <div fxFlex=60%>Tomorrow</div><div fxFlex="40%">8:00 AM</div>
    </div>
    <div fxLayout="row" mat-menu-item class="menu">
        <div fxFlex=60%>Next week</div><div fxFlex="40%">Mon, 8:00 AM</div>
    </div>
    <div mat-menu-item class="menu"><span>Home</span></div>
    <div mat-menu-item class="menu"><span>Pick date & time</span></div>
    <div mat-menu-item class="menu"><span>Pick place</span></div>
</mat-menu>