<div fxLayoutAlign="center" class="pinOthers" *ngIf="length!=0">{{pin}}</div>
<div fxLayoutAlign="center" >
  <div class="main" fxLayoutAlign=left fxFlex.xl="70%" fxFlex.lg="750px" fxFlex.md="750px" fxFlex.sm="500px" 
  fxFlex.xs="100%">
    <!-- ****************************matcard start****************************** -->        
    <mat-card *ngFor="let data of notes | searchNote: searchItem" class="div" [ngClass.xl]="view ? 'list' : 'grid'" 
    [ngClass.lg]="view ? 'list' : 'grid'" [ngClass.md]="view ? 'list' : 'grid'" [ngClass.sm]="view ? 'list' : 'grid2'"
    [ngClass.xs]="list"[ngStyle]="{'background-color':data.color}">
      <app-pin class=pin [card]=data (onChange)="entry($event)"></app-pin>
      <div (click)="openDialog(data)">
        <mat-card-subtitle class=title [innerHTML]="data.title"></mat-card-subtitle>
        <mat-card-content class=decscription [innerHTML]="data.description"></mat-card-content>
      </div>

      <!-- ****************************checklist start****************************** -->        
      <mat-card-content>        
        <div *ngFor="let list of data.noteCheckLists">
          <mat-checkbox *ngIf="list.status=='open' && list.isDeleted==false" (click)=check(list)>{{list.itemName}}
          </mat-checkbox>
        </div>
        <div *ngFor="let list of data.noteCheckLists">
          <mat-checkbox class=delCheck *ngIf="list.status=='close' && list.isDeleted==false"checked=true (click)=check(list)>
          <del>{{list.itemName}}</del></mat-checkbox>
        </div>
      </mat-card-content>
      <!-- ****************************checklist end****************************** -->    

      <!-- ****************************reminder start******************************** -->

      <mat-chip-list>
          <span *ngFor="let cardData of data.reminder" class="chip" >
            <mat-chip class=dellabel *ngIf="checkDate(cardData)==1 || checkDate(cardData)==4 " (click)=showReminder(data.id)>
              <mat-icon>access_time</mat-icon>
              <del  *ngIf="checkDate(cardData)==1">{{date}}</del>
              <del  *ngIf="checkDate(cardData)==4">{{cardData| date:medium}}</del>

              <mat-icon clas="cancelIcon" (click)=removeReminder(data.id)>cancel</mat-icon>
            </mat-chip>
            <mat-chip class=label *ngIf="checkDate(cardData)==2 || checkDate(cardData)==3"(click)=showReminder(data.id)>
              <mat-icon>access_time</mat-icon>
              <span *ngIf="checkDate(cardData)==2">{{date}}</span>
              <span *ngIf="checkDate(cardData)==3">{{cardData| date:medium}}</span>

              <mat-icon class="cancelIcon" (click)=removeReminder(data.id)>cancel</mat-icon>
            </mat-chip>
          </span>
        </mat-chip-list>
      <!-- ****************************reminder end******************************** -->

      <!-- ****************************label start****************************** -->        
      <mat-chip-list>
        <span *ngFor="let cardData of data.noteLabels" class="chip" >
          <mat-chip class="label"*ngIf="cardData.isDeleted==false" (click)=showLabel(cardData.label)>
            {{cardData.label}}<mat-icon *ngIf="!data.isDeleted" (click)=removeLabel(cardData.id,data.id) 
            class="cancelIcon">cancel</mat-icon>
          </mat-chip>
        </span>
      </mat-chip-list>
     
      <!-- ****************************label end****************************** -->        

      <!-- ****************************icon start****************************** -->        
      <p>
      <span class="icon">
        <span *ngIf="!data.isDeleted" class="iconButton"><app-remind-me (onChanges)="entry($event)"[card]=data></app-remind-me></span>
        <span *ngIf="!data.isDeleted" class="iconButton"><app-collaborator></app-collaborator></span>
        <span *ngIf="!data.isDeleted" class="iconButton">
          <app-change-color [card]=data (onChangeColor)="entry($event)"></app-change-color></span>
        <span *ngIf="!data.isDeleted" class="iconButton"><app-add-image></app-add-image></span>
        <span *ngIf="!data.isDeleted" class="iconButton">
          <app-notes-archive [card]=data (onArchiveEntry)="entry($event)"></app-notes-archive></span>
        <span class="iconButton"><app-more [card]=data (onChanges)="entry($event)"></app-more></span>
      </span></p>
      <!-- ****************************icon start****************************** -->        

    </mat-card>
    <!-- ****************************matcard end****************************** -->        

  </div>

</div>
