.main{
    display: flex;
    flex-wrap: wrap;
    margin-top:2%;
}
.div{
    margin:5px;
    border-radius: 5%;
    height: min-content; 
    width:100%
}
.title{
    word-wrap: break-word;
    font-weight: bold;
    font-size: 20px;
    max-width:90%;
    opacity: 0.6;
}
.description{
    opacity: 0.6;
    font-size: 15px;
    word-wrap: break-word;
}

.icon{
    visibility:hidden;
}
.iconButton{
    opacity:0.7;
    cursor: pointer;
    margin-right:5%;
}
.iconButton:hover{
    opacity:1;
} 
.div:hover .icon {
    visibility: visible;
}
.label{
    background-color: rgba(135, 167, 159, 0.465);
    font-size: 11px;
    max-width:150px;
}
.dellabel{
    background-color: rgba(135, 167, 159, 0.465);
    font-size: 11px;
    color:rgba(0, 0, 0,0.4);
}
.chip{
    text-overflow: ellipsis;
    overflow: hidden!important;
    white-space: nowrap;
}
.delCheck{
    color:rgba(0, 0, 0,0.4)
}
.chip .cancelIcon{
    visibility: hidden;
}
.chip:hover .cancelIcon{
    visibility: visible;
}
.pin{
    float:right;
    cursor:pointer;
    visibility:hidden;
}
.div:hover .pin {
    visibility: visible;
}
.grid{
    width:190px;
}
.grid2{
    width:185px;
}
.list{
    width:100%;
    border-radius:2%;
    overflow-x: hidden;
}
.pinOthers{
    font-style: oblique;
    font-size: 12px;
    color:black;
    margin-top:5px;
    width:100%;
}
.noteLabels{
    margin-top:5px;
}