@import '../../../scss/mixins';
.main{
    display: flex;
    flex-wrap: wrap;
    @include margin-top(15px);
}
.div{
    margin:5px;
    border-radius: 5%;
    height: min-content; 
    width:100%
}
.checkBox{
    word-break: break-all;
    margin-bottom: 10px;
}
.title{
    word-wrap: break-word;
    font-weight: bold;
    font-size: 20px;
    max-width:90%;
    opacity: 0.6;
    margin-bottom: 10px;
}
.description{
    opacity: 0.6;
    font-size: 15px;
    word-wrap: break-word;
    margin-bottom: 10px;
}
.icon{
    visibility:hidden;
    @include margin-top(15px);
}
.iconButton{
    opacity:0.7;
    cursor: pointer;
    margin-right:5%;
}
.iconButton:hover{
    opacity:1;
} 
.div:hover .icon {
    visibility: visible;
}
.label{
    @include back-ground-color(rgba(135, 167, 159, 0.465));
    font-size: 11px;
    max-width:150px;
}
.dellabel{
    @include back-ground-color(rgba(135, 167, 159, 0.465));    
    font-size: 11px;
    color:rgba(0, 0, 0,0.4);
}
.chip{
    @include overflowText;
    background-color: transparent;
}
.delCheck{
    color:rgba(0, 0, 0,0.4)
}
.label .cancelIcon{
    visibility: hidden;
}
.label:hover .cancelIcon{
    visibility: visible;
}
.pin{
    float:right;
    cursor:pointer;
    visibility:hidden;
}
.div:hover .pin {
    visibility: visible;
}
.grid{
    width:190px;
}
.grid2{
    width:185px;
}
.list{
    width:100%;
    border-radius:2%;
    overflow-x: hidden;
}
.pinOthers{
    font-size: 12px;
    color:black;
    width:100%;
    @include margin-top(5px);
}
.rem{
    @include margin-top(15px);
}