<div fxLayoutAlign="center" >
  <div class="main" fxLayoutAlign=left fxFlex.xl="70%" fxFlex.lg="750px" fxFlex.md="750px" fxFlex.sm="500px" 
  fxFlex.xs="100%">
<div  class="pinOthers" *ngIf="length!=0">{{pin}}</div>

    <!-- ****************************matcard start****************************** -->        
    <mat-card *ngFor="let data of notes | searchNote: searchItem" class="div" [ngClass.xl]="view ? 'list' : 'grid'" 
    [ngClass.lg]="view ? 'list' : 'grid'" [ngClass.md]="view ? 'list' : 'grid'" [ngClass.sm]="view ? 'list' : 'grid2'"
    [ngClass.xs]="view ? 'list' : 'list'" [ngStyle]="{'background-color':data.color}">
      <app-pin class=pin [card]=data (onChange)="entry($event)"></app-pin>
      <div (click)="openDialog(data)">
        <div class=title [innerHTML]="data.title"></div>
        <div class=description [innerHTML]="data.description"></div>
      </div>

      <!-- ****************************checklist start****************************** -->        
            
        <div *ngFor="let list of data.noteCheckLists" >
          <div *ngIf="list.status=='open' && list.isDeleted==false"class=checkBox fxLayout='row'>
            <mat-checkbox (click)=check(list)></mat-checkbox>
            <div>{{list.itemName}}</div>
          </div>
        </div>
        <div *ngFor="let list of data.noteCheckLists">
          <div *ngIf="list.status=='close' && list.isDeleted==false" class=checkBox fxLayout='row'>
            <mat-checkbox class=delCheck  checked=true (click)=check(list)></mat-checkbox>
            <span><del>{{list.itemName}}</del></span>
          </div>
        </div>
      <!-- ****************************checklist end****************************** -->    

      <!-- ****************************reminder start******************************** -->

      <mat-chip-list >
          <span *ngFor="let cardData of data.reminder" >
            <mat-chip class=dellabel *ngIf="checkDate(cardData)==1 || checkDate(cardData)==4 " 
            (click)=showReminder(data.id) (click)=reminderClick()>
              <mat-icon>access_time</mat-icon>
              <del  *ngIf="checkDate(cardData)==1">{{date}}</del>
              <del  *ngIf="checkDate(cardData)==4">{{cardData| date:medium}}</del>
              <mat-icon (click)=removeReminder(data.id)>cancel</mat-icon>
            </mat-chip>
            <mat-chip class=label *ngIf="checkDate(cardData)==2 || checkDate(cardData)==3"(click)=showReminder(data.id)>
              <mat-icon>access_time</mat-icon>
              <span *ngIf="checkDate(cardData)==2">{{date}}</span>
              <span *ngIf="checkDate(cardData)==3">{{cardData| date:'medium'}}</span>
              <mat-icon (click)=removeReminder(data.id)>cancel</mat-icon>
            </mat-chip>
          </span>
        </mat-chip-list>
      <!-- ****************************reminder end******************************** -->

      <!-- ****************************label start****************************** -->        
      <mat-chip-list >
        <span *ngFor="let cardData of data.noteLabels" class=noteLabels>
          <mat-chip class="label"*ngIf="cardData.isDeleted==false" (click)=showLabel(cardData.label)>
            <span class="chip">{{cardData.label}}</span><mat-icon *ngIf="!data.isDeleted" (click)=removeLabel(cardData.id,data.id) 
            class="cancelIcon">cancel</mat-icon>
          </mat-chip>
        </span>
      </mat-chip-list>
     
      <!-- ****************************label end****************************** -->        

      <!-- ****************************icon start****************************** -->        
      <p>
      <span class="icon">
        <span *ngIf="!data.isDeleted" class="iconButton"><app-remind-me (onChanges)="entry($event)"[card]=data>
        </app-remind-me></span>
        <span *ngIf="!data.isDeleted" class="iconButton"><app-add-collaborator [card]=data></app-add-collaborator></span>
        <span *ngIf="!data.isDeleted" class="iconButton">
          <app-change-color [card]=data (onChangeColor)="entry($event)"></app-change-color></span>
        <span *ngIf="!data.isDeleted" class="iconButton"><app-add-image></app-add-image></span>
        <span *ngIf="!data.isDeleted" class="iconButton">
          <app-notes-archive [card]=data (onArchiveEntry)="entry($event)"></app-notes-archive></span>
        <span class="iconButton"><app-more [card]=data (onChanges)="entry($event)"></app-more></span>
      </span></p>
      <!-- ****************************icon start****************************** -->        

    </mat-card>
    <!-- ****************************matcard end****************************** -->        

  </div>

</div>
