<!-- ****************************notecard start****************************** -->
<div fxLayoutAlign="center" *ngIf="noteCard" >
  <mat-card class="card" (click)="noteCardOpen()" fxFlex.xl="600px" fxFlex.lg="600px" fxFlex.md="500px" 
  fxFlex.sm="500px" fxFlex.xs="95%">
    <span>Take a note...</span>
    <mat-icon class="icon">edit</mat-icon>
    <mat-icon class="icon">panorama</mat-icon>
    <mat-icon class="icon" (click)="list()">view_list</mat-icon>
  </mat-card>
</div>
<!-- ****************************notecard end****************************** -->

<!-- ****************************add notecard start****************************** -->
<div fxLayoutAlign="center" *ngIf="!noteCard">
  <mat-card class="card" [ngStyle]="{'background-color':cardColor}" fxFlex.xl="600px" fxFlex.lg="600px" 
  fxFlex.md="500px" fxFlex.sm="500px" fxFlex.xs="95%">
    <div fxLayout="row">
      <div fxFlex="90%" data-text="Title" contenteditable="true" class="textarea"
      #title></div>
      <app-pin class=pin (onChange)="onPinChange($event)"></app-pin>
    </div>

    <div *ngIf=!listNote data-text="Take a Note..." contenteditable="true" class="textarea" #description></div>
    <!-- ****************************checkbox end****************************** -->    
    <div *ngIf=listNote>
      <div *ngFor="let data of listArray" fxLayout=row class=listInput>
        <div fxFlex=5%><mat-checkbox (click)=checked(data)></mat-checkbox></div>
        <input fxFlex=85% type=text name=input [(ngModel)]=data.itemName class=input>
        <div fxFlex=5%><mat-icon class=clear (click)=removeList(data)>clear</mat-icon></div>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout=row class=listInput>
        <div fxFlex=5%><mat-icon class=clear>add</mat-icon></div>
        <input fxFlex=85% placeholder="List item" #item=ngModel class=input [(ngModel)]="model.item"
        (keydown.enter)="listitem()">
        <div fxFlex=5%><mat-icon class=clear (click)=clear()>clear</mat-icon></div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <!-- ****************************checkbox end****************************** -->    

    <!-- ****************************reminder start****************************** -->    
    <mat-chip-list>
        <span *ngFor="let cardData of reminder" >
          <mat-chip class="chip">
            {{cardData| date:"medium"}}<mat-icon class="cancelIcon" (click)=cancelReminder()>cancel</mat-icon>
          </mat-chip>
        </span>
      </mat-chip-list>
    <!-- ****************************reminder end****************************** -->    

    <!-- ****************************label start****************************** -->    
      <mat-chip-list>
        <span *ngFor="let cardData of labels" >
          <mat-chip class="chip">
            {{cardData.label}}<mat-icon class="cancelIcon" (click)=cancelLabel(cardData)>cancel</mat-icon>
          </mat-chip>
        </span>
      </mat-chip-list>
    <!-- ****************************label end****************************** -->   

    <!-- ****************************icon start****************************** -->    
    <div class="iconsList">
      <span class="iconButton"><app-remind-me (onChanges)=addRemoveReminder($event)></app-remind-me></span>
      <span class="iconButton"><app-add-collaborator></app-add-collaborator></span>
      <span class="iconButton"><app-change-color (onChangeColor)="onColorChange($event)"></app-change-color></span>
      <span class="iconButton"><app-add-image></app-add-image></span>
      <span class="iconButton"><app-notes-archive (onArchiveEntry)="onArchive($event)"></app-notes-archive></span>
      <span class="iconButton"><app-more (onChanges)="addRemoveLabel($event)" (showCheckbox)=showCheckBox($event)></app-more></span>
      <button mat-button class="pin" (click)="close()">close</button>
    </div>
    <!-- ****************************icon end****************************** -->    

  </mat-card>
</div>
<!-- ****************************add notecard end****************************** -->