.navbar{
    background-color: #fb0;
    width:100%;
    /* justify-content: space-evenly; */
}
.search{
    padding:2%;
    width:80%;
    background-color: transparent;
    border: none;
}
.searchbr{
    background-color: rgb(240, 176, 0);
    height:150%;
    margin-bottom:-2%;
}
.searchbutton{
    background-color: transparent;
    border: none;
    padding-bottom: 2%;
    cursor: pointer;
}
.button{
    background-color: #fb0;
    border:none;
    /* margin-right:2%; */
    cursor: pointer;
}
.app{
    background-color: #fb0;
    border:none;
    /* margin-left:5%; */
    /* margin-right:2%; */
    cursor: pointer;
}
.refresh{
    background-color: #fb0;
    border:none;
    /* margin-left:40%; */
    /* margin-right:2%; */
    cursor: pointer;
}


.example-container {
    width: 22%;
    height: 87%;
    background-color: #e8e8e8;
}
.example-sidenav {
    background-color: #e8e8e8;
  width:100%;
}
.plus{
   margin-left:30%;
}
.buttonicon{
    width:95%;
    text-align: start;
}
.name{
    margin-left:30%;
} 
.edit{
    margin-left:20%;
}