<!-- ******************************navbar start******************************** -->
<div class="navbar" #navbar>
  <mat-toolbar-row>
  <div fxLayout="column" fxFlex="100%" fxLayoutGap="0.8%">
  <div fxFlex="5%"></div>
  <div fxLayout="row" fxFlex="100%" >
    <div fxFlex.xs="0%" fxFlex.sm="0%" fxFlex.md="2%" fxFlex.lg="2%" fxFlex.xl="2%"></div>
          
    <div fxFlex.xs="10%" fxFlex.sm="5%" fxFlex.md="5%" fxFlex.lg="5%" fxFlex.xl="5%" class="example-sidenav-content">
      <mat-icon (click)="drawer.toggle()"ngStyle.xs="font-size:25px"ngStyle.sm="font-size:25px"
      ngStyle.md="font-size:25px" ngStyle.lg="font-size:30px" ngStyle.xl="font-size:50px" class="button" 
      matTooltip="main menu">menu</mat-icon>
    </div>

    <div fxHide.xs=true fxFlex.sm="25%" fxFlex.md="20%" fxFlex.lg="20%" fxFlex.xl="20%">
      <div *ngIf=!labelShow ngStyle.sm="font-size:19px" ngStyle.md="font-size:20px" ngStyle.lg="font-size:23px" 
      ngStyle.xl="font-size:40px;max-width:300px" class="toolbar">Fundoo Note</div>
      <div *ngIf=labelShow ngStyle.sm="font-size:15px" ngStyle.md="font-size:15px" ngStyle.lg="font-size:25px" 
      ngStyle.xl="font-size:25px" class="toolbar">{{labelValue}}</div>
    </div>

    <div fxFlex.xs="20%" fxHide.sm=true fxHide.md=true fxHide.lg=true fxHide.xl=true>
      <div *ngIf=!labelShow ngStyle.xs="font-size:20px" class="toolbar">Note</div>
      <div *ngIf=labelShow ngStyle.xs="font-size:20px" class="toolbar">{{labelValue}}</div>
    </div>

    <div *ngIf=!showSearchBar fxFlex.xs=40% fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="55%" fxFlex.xl="56%">
      <mat-icon ngStyle.xl="font-size:50px" class="searchbutton" matTooltip="search" (click)="showSearchBar=true">
      search</mat-icon>
      <input type="text" [(ngModel)]="searchValue" class="search" (click)="search()" (keyup)=newMessage() 
      placeholder="Search.." ngStyle.md="font-size:13px" ngStyle.lg="font-size:16px" 
      ngStyle.sm="font-style:10px;margin-top:2px;" 
      fxHide.xs=true ngStyle.xl="font-size:30px">
    </div>
    <div *ngIf=showSearchBar fxFlex.xs="40%" fxHide.sm=true fxHide.md=true fxHide.lg=true fxHide.xl=true>
      <input type="text" [(ngModel)]="searchValue" class="search2" (click)="search()" (keyup)=newMessage() 
      placeholder="Search.." (keydown.enter)="hideSearch()">
    </div>
    

    <div fxFlex.xs="10%" fxFlex.sm="5%" fxFlex.md="5%" fxFlex.lg="5%" fxFlex.xl="5%">
      <mat-icon class="button" (click)="refresh()" ngStyle.xs="font-size:25px" ngStyle.sm="font-size:25px"
      ngStyle.md="font-size:25px" ngStyle.lg="font-size:30px" ngStyle.xl="font-size:50px" 
      matTooltip="refresh">refresh</mat-icon>
    </div>
            
    <div fxHide.xs=true fxFlex.sm="5%" fxFlex.md="5%" fxFlex.lg="5%" fxFlex.xl="5%">
      <mat-icon *ngIf=gridView class="button"  ngStyle.md="font-size:25px" 
      ngStyle.lg="font-size:30px" ngStyle.xl="font-size:50px" (click)=view() 
      matTooltip="list view">view_stream</mat-icon>
      <mat-icon *ngIf=!gridView class="button" ngStyle.md="font-size:25px" 
      ngStyle.lg="font-size:30px" ngStyle.xl="font-size:50px" (click)=view() 
      matTooltip="grid view">view_module</mat-icon>
    </div>

    <div fxFlex.xs="10%" fxFlex.sm="5%" fxFlex.md="5%" fxFlex.lg="5%" fxFlex.xl="5%">
      <div [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover','width':'40px','height':'40px'}" 
      class=img (click)="account()" ngStyle.xl="width:60px;height:60px"  ngStyle.xs="width:30px;height:30px"></div>
    </div>

    <div fxFlex.xs="0%" fxFlex.sm="0%" fxFlex.md="2%" fxFlex.lg="2%" fxFlex.xl="2%"></div>
  </div>
  <div fxFlex="5%"></div>
  </div>
  </mat-toolbar-row>
</div>
<!-- ******************************navbar end******************************** -->

  
<!-- ****************************profile start****************************** -->
<mat-card class="account" *ngIf="signoutCard">
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover',
    'width':'60px','height':'60px','margin-bottom':'10px'}" class="img"
   (click)=image.click()></div>      
    <mat-card-title>{{firstName}} {{lastName}}</mat-card-title>
    <mat-card-subtitle>{{email}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider ></mat-divider>
  <input type=file class="fileSelect" (change)=profileImage($event) #image>
  <div><button  class="signout" (click)="logout()">Sign out</button></div>
</mat-card>
<!-- ****************************profile end*********************************** -->


<!-- *****************************menu start************************************* -->
<mat-drawer-container class="example-container"ngStyle.xs="height:93%"ngStyle.sm="height:95%"
ngStyle.md="height:95%" ngStyle.lg="height:90%" ngStyle.lg="height:90%">
  <mat-drawer #drawer class="example-sidenav" [mode]="width > 960?'side':'over'" closed>
    <div class="side_icon"(click)="homeClick()" [ngClass]="home? 'selected' : 'side_icon'">
      <img class=margin_left20 src="../../../assets/img/notes.svg">
      <small class="name">Note</small></div>
    <div class="side_icon" (click)="reminderClick()" 
    [ngClass]="reminder? 'selected' : 'side_icon'">
      <img class=margin_left20 src="../../../assets/img/reminder.svg"><small class="name">Reminder</small></div>
    <mat-divider></mat-divider>    
    
      <div fxLayout="row"  class="edit">
        <div fxFlex=10%></div>
        <div fxFlex=40% class="edit"><small>Labels</small></div>
        <div fxFlex=40%><button mat-button (click)=createLabel()><small>EDIT</small></button></div>
      </div>

    <div *ngFor="let data of labelList" (click)="labelClick(data)" 
    [ngClass]="data==labelclick && labelShowing? 'selected' : 'side_icon'" fxLayout=row class="side_icon">
        <div fxFlex="10%"></div>
        <div fxFlex="20%"><mat-icon class=label>label</mat-icon></div>
        <div fxFlex="60%" class=label >{{data}}</div>
    </div>

    <div><button mat-button class=side_icon (click)=createLabel()><mat-icon>add</mat-icon> 
      <span class="plus">Create new label</span></button></div>
      <mat-divider></mat-divider>

    <div class=side_icon (click)="searchValue=null;archiveClick()"
    [ngClass]="archive? 'selected' : 'side_icon'">
      <img class=margin_left20 src="../../../assets/img/archive.svg"><small class="name">Archive</small></div>
    <div class=side_icon (click)="searchValue=null;trashClick()"
    [ngClass]="trash? 'selected' : 'side_icon'">
      <img class=margin_left20 src="../../../assets/img/trash.svg"><small class="name">Trash</small></div>
      
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
<!-- ********************************menu end************************************* -->