.navbar{
    background-color: #fb0;
    width:100%;
    /* justify-content: space-evenly; */
}
.search{
    padding:1.5%;
    width:50%;
    background-color: rgb(240, 176, 0);
    border: none;
} 
.searchbutton{
    background-color: rgb(240, 176, 0);
    border: none;
    cursor: pointer;
    margin-left:2%;
}
.button{
    background-color: transparent;
    border:none;
    cursor: pointer;
    margin-left:1%;
}
.button:hover{
    background-color:rgb(240, 176, 0);
    border-radius: 50%;
}
.person{
    background-color: transparent;
    border:none;
    cursor: pointer;
    margin-left:5%;
}
.app{
    background-color: #fb0;
    border:none;
    cursor: pointer;
    margin-left:4%;
    /* margin-right:1%; */
}
.app:hover{
    background-color:rgb(240, 176, 0);
    border-radius: 50%;
}
.refresh{
    background-color: #fb0;
    border:none;
    cursor: pointer;
    margin-left:1%;
    margin-right:1%;
}
.refresh:hover{
    background-color:rgb(240, 176, 0);
    border-radius: 50%;
}

.example-container {
    height: 89%;
    width:100%;
    background-color: #e8e8e8;
}
.example-sidenav {
    background-color: #e8e8e8;
    width:315px;
}
.plus{
   margin-left:10%;
}
.buttonicon{
    width:95%;
    text-align: start;
}
.name{
    margin-left:20%;
} 
.edit{
    margin-left:25%;
}
/* 
.keep{
    margin-left:4%;
     margin-right:2%;
} */



/* .navbar{
    background-color: #fb0;
    width:100%;
    justify-content: space-evenly;
}
.search{
    padding:2%;
    width:80%;
    background-color: rgb(240, 176, 0);
    border: none;
}
.searchbr{
    height:170%;
    margin-top:-0.5%;
}
.searchbutton{
    background-color: rgb(240, 176, 0);
    border: none;
    padding-bottom: 2%;
    cursor: pointer;
}
.button{
    background-color: transparent;
    border:none;
    cursor: pointer;
}
.app{
    background-color: #fb0;
    border:none;
    cursor: pointer;
}
.button:hover{
    background-color:rgb(240, 176, 0);
    border-radius: 50%;
}
.app:hover{
    background-color:rgb(240, 176, 0);
    border-radius: 50%;
}
.refresh{
    background-color: #fb0;
    border:none;
    cursor: pointer;
}
.refresh:hover{
    background-color:rgb(240, 176, 0);
    border-radius: 50%;
}

.example-container {
    height: 89%;
    background-color: #e8e8e8;
}
.example-sidenav {
    background-color: #e8e8e8;
}
.plus{
   margin-left:10%;
}
.buttonicon{
    width:95%;
    text-align: start;
}
.name{
    margin-left:20%;
} 
.edit{
    margin-left:25%;
    /* border: none; */
    /* background-color: #e8e8e8; */
    /* width:20%;height: 50%;
} */