<div class="navbar" #navbar>
    <mat-toolbar-row>
      <div fxLayout="row" fxFlex="100%" fxLayoutGap="5%" class=margin_15>
        <div fxFlex="5%"></div>
        <div fxFlex="70%" class="packDetails">Advance Pack Details</div>
        <div fxFlex="10%" class=price >$6.99/month</div>
        <div fxFlex="5%"></div>
      </div>
    </mat-toolbar-row>
  </div>
<div class=margin_15>
  <mat-tab-group>
    <mat-tab label="Feature1"> Content 1 </mat-tab>
    <mat-tab label="Feature2"> Content 2 </mat-tab>
    <mat-tab label="Feature3"> Content 3 </mat-tab>
  </mat-tab-group>
</div>
<div class=margin_15 fxLayout=row>
    <div fxFlex=40% fxLayoutAlign='start'><button class=button1 (click)=remove()>Remove</button></div>
    <div fxFlex=60% fxLayoutAlign='end'><button class=button1>Proceed to Checkout</button></div>
  </div>