<div fxLayoutAlign="center" >

<div fxLayout=column fxLayoutGap=2% fxFlex fxLayoutAlign=center fxFlex.xl="70%" fxFlex.lg="750px" fxFlex.md="750px" fxFlex.sm="500px" 
fxFlex.xs="100%">
<div></div>
<div style="background-color:#fb0;border-radius:10px;padding:5px;color:white;width:min-content">FundooNotes</div>
<div>
  <mat-tab-group>
    <mat-tab label="Feature1">
      <div style="margin:10px"><b>Shopping Cart</b></div>
      <div fxLayout=row fxLayoutGap=3% style="margin-top:10px;margin-bottom: 10px">
          <div fxFlex=10% >
            </div>
          <div fxFlex=30% fxLayout=column>
            
          </div>
          <div fxFlex=10%><small>price</small></div>
          <div fxFlex=10%><small>validity</small></div>
  

        </div>
      <mat-divider></mat-divider>
      <div fxLayout=row fxLayoutGap=3% style="margin-top:10px;margin-bottom: 10px">
        <div fxFlex=10% style="font-size: 15px;padding:5px;background-color: rgb(117, 115, 115);color:white;border-radius:10px">
          $6.99$ per month advance</div>
        <div fxFlex=30% fxLayout=column>
          <div style="color:rgb(64, 161, 226)">Advance Pack Details</div>
          <li></li>
        </div>
        <div fxFlex=10% style="color:red">$6.99</div>
        <div fxFlex=10%><button><small>per month</small></button></div>
        <div fxFlex=30% fxLayout=column style="border:1px solid rgb(167, 167, 167);border-radius: 3px" fxLayoutGap=5%>
          <div></div>
          <div fxLayoutAlign=center><small>Subtotal(1 item) : 6.99$</small></div>
          <div fxLayoutAlign=center><button style="background-color: rgb(44, 112, 175);color:white;border:none;padding:5px 15px 5px 15px">
            Proceed to Checkout</button></div>
        </div>



      </div>
      <mat-divider></mat-divider>
      <div>Subtotal ( 1 item ): 6.99$</div>

    </mat-tab>
    
    <mat-tab label="Feature2">
        <div style="margin:10px"><b>Review your Order</b></div>
        <div fxLayout=row fxLayoutGap=3% style="margin-top:10px;margin-bottom: 10px">
            <div fxFlex=10% >
              </div>
            <div fxFlex=30% fxLayout=column>
              
            </div>
            <div fxFlex=10%><small>price</small></div>
            <div fxFlex=10%><small>validity</small></div>
    
  
          </div>
        <mat-divider></mat-divider>
        <div fxLayout=row fxLayoutGap=3% style="margin-top:10px;margin-bottom: 10px">
          <div fxFlex=10% style="font-size: 15px;padding:5px;background-color: rgb(117, 115, 115);color:white;border-radius:10px">
            $6.99$ per month advance</div>
          <div fxFlex=30% fxLayout=column>
            <div style="color:rgb(64, 161, 226)">Advance Pack Details</div>
            <li></li>
          </div>
          <div fxFlex=10% style="color:red">$6.99</div>
          <div fxFlex=10%><button><small>per month</small></button></div>
          <div fxFlex=30% fxLayout=column style="border:1px solid rgb(167, 167, 167);border-radius: 3px" fxLayoutGap=5%>
            <div></div>
            <div fxLayoutAlign=center><small>Subtotal(1 item) : 6.99$</small></div>
            <div fxLayoutAlign=center><button style="background-color: rgb(44, 112, 175);color:white;border:none;padding:5px 15px 5px 15px">
              Proceed to Checkout</button></div>
          </div>
  
  
  
        </div>
        <mat-divider></mat-divider>
        <div fxLayout=row style="margin:20px">
          <div fxFlex=40% style="border:1px solid gray;padding:30px"></div>
          <div fxFlex=10%>payment method</div>
        </div>
  
    </mat-tab>
    <mat-tab label="Feature3"> Content 3 </mat-tab>
  </mat-tab-group>
  </div>
</div>
</div>