<div fxLayoutAlign="center" >

<div fxLayout=column fxLayoutGap=2% fxFlex fxLayoutAlign=center fxFlex.xl="70%" fxFlex.lg="750px" fxFlex.md="750px" fxFlex.sm="500px" 
fxFlex.xs="100%">
<div></div>
<div class=fundoo>FundooNotes</div>
<div>
    <mat-horizontal-stepper [linear]="isLinear" #stepper class=transparent>
      
        <mat-step [stepControl]="firstFormGroup">
          <!-- <form> -->
            <ng-template matStepLabel>SIGN IN</ng-template>
            <!-- <mat-form-field> -->
                <div class=margin_15><b>Shopping Cart</b></div>
                <div fxLayout=row fxLayoutGap=3% class=margin_TB_10>
                    <div fxFlex=10% >
                      </div>
                    <div fxFlex=30% fxLayout=column>
                      
                    </div>
                    <div fxFlex=10% fxLayoutAlign=center><small>price</small></div>
                    <div fxFlex=10% fxLayoutAlign=center><small>validity</small></div>
            
          
                </div>
                <mat-divider></mat-divider>
                <div fxLayout=row fxLayoutGap=3% class=margin_TB_10>
                  <div fxFlex=10% class=details >
                    $6.99$ per month advance</div>
                  <div fxFlex=30% fxLayout=column>
                    <div class=text_color>Advance Pack Details</div>
                    <li></li>
                    <li></li>
                  </div>
                  <div fxFlex=10% fxLayoutAlign=center class=error>$6.99</div>
                  <div fxFlex=10%><button><small>per month</small></button></div>
                  <div fxFlex=30% fxLayout=column class=box fxLayoutGap=5%>
                    <div></div>
                    <div fxLayoutAlign=center><small>Subtotal(1 item) : 6.99$</small></div>
                    <div fxLayoutAlign=center><button matStepperNext class=button1 >
                      Proceed to Checkout</button></div>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div>Subtotal ( 1 item ): 6.99$</div>
            <!-- </mat-form-field> -->
          <!-- </form> -->
        </mat-step>




        <mat-step [stepControl]="secondFormGroup">
          <!-- <form > -->
            <ng-template matStepLabel>PLACE ORDER</ng-template>
            <!-- <mat-form-field> -->
                <div class=margin_15><b>Review your Order</b></div>
                <div fxLayout=row fxLayoutGap=3% class=margin_TB_10>
                    <div fxFlex=10% >
                      </div>
                    <div fxFlex=30% fxLayout=column>
                      
                    </div>
                    <div fxFlex=10%><small>price</small></div>
                    <div fxFlex=10%><small>validity</small></div>
            
          
                  </div>
                <mat-divider></mat-divider>
                <div fxLayout=row fxLayoutGap=3% class=margin_TB_10>
                  <div fxFlex=10% class=details >
                    $6.99$ per month advance</div>
                  <div fxFlex=30% fxLayout=column>
                    <div class=text_color>Advance Pack Details</div>
                    <li></li>
                    <li></li>
                  </div>
                  <div fxFlex=10% class=error>$6.99</div>
                  <div fxFlex=10%><button><small>per month</small></button></div>
                  <div fxFlex=30% fxLayout=column class=box  fxLayoutGap=5%>
                    <div></div>
                    <div fxLayoutAlign=center><small>Subtotal(1 item) : 6.99$</small></div>
                    <div fxLayoutAlign=center><button matStepperNext class=button1>
                      Proceed to Checkout</button></div>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout=row class=margin_15 fxLayoutGap=10%>
                  <div fxFlex=50%>
                    <textarea name="address" id="address" cols="40" rows="5"></textarea>
                  </div>
                  <div fxFlex=20%>
                    <div><small>payment method</small></div>
                    <div>Cash on Delivery</div>
                  </div>
                </div>
            <!-- </mat-form-field> -->
            
          <!-- </form> -->
        </mat-step>



        <mat-step>
          <ng-template matStepLabel>COMPLETE PAYMENT</ng-template>
          <div class=margin_15><b>Order List</b></div>
                <mat-divider></mat-divider>
                <div fxLayout=row fxLayoutGap=3% class=margin_TB_10>
                  <div fxFlex=10% class=details>
                    $6.99$ per month advance</div>
                  <div fxFlex=30% fxLayout=column>
                    <div class=aaa >Advance Pack Details</div>
                    <li></li>
                    <li></li>
                  </div>
                  <div fxFlex=10%></div>
                  <div fxFlex=10%></div>
                  <div fxFlex=30% fxLayout=column fxLayoutGap=5%>
                    <div></div>
                    <div fxLayoutAlign=center class=error>6.99$</div>
                    <div fxLayoutAlign=center>per month</div>
                    <div></div>
                  </div>
                </div>
                <div fxLayoutAlign=center *ngIf="!completed" class=text_color (click)="completed=true">pending</div>
                <div fxLayoutAlign=center *ngIf="completed" class=green>completed</div>
          
        </mat-step>
      </mat-horizontal-stepper>



  </div>
</div>
</div>