.fundoo{
    background-color:#fb0;border-radius:10px;padding:5px;color:white;width:min-content;
}
.transparent{
    background-color: transparent;
}
.margin_TB_10{
    margin:10px 0px 10px 0px;
}
.details{
    font-size: 15px;padding:5px;background-color: rgb(117, 115, 115);color:white;border-radius:10px
}
.box{
    border:1px solid rgb(167, 167, 167);border-radius: 3px
}
.text_color{
    color:rgb(64, 161, 226);
    font-size:12px;
}