.a{
  color:rgb(33, 33, 241);
  text-decoration-line: none;
}
.box1{
  color:rgb(23, 23, 26);
  width:100%;
  font-size: 80%;
}
.box2{
  width:100%;
  color:rgb(23, 23, 26);
  font-size: 80%;
}
.card{
 width:90%;
}
.input{
  width:45%
}