.a{
  color:rgb(33, 33, 241);
  text-decoration-line: none;
}
.selected{
  text-align: center;
  word-wrap: break-word;
  background-color: rgb(133, 148, 196);
}
.notselected{
  text-align: center;
  word-wrap: break-word;
  background-color: rgb(195, 197, 201);
}
.error{
  font-size: 70%;
  color:red;
}
.input{
  min-width: 280;;
  max-width: 500px;
}
.example-container {
  max-width: 250px;
  width: 100%;
}
.example-container2 {
  max-width: 300px;
  width: 100%;
}
.logo{
  color:rgb(34, 34, 148);
  font-style: oblique;
  font-weight: 1000;
  font-size: 200%;
  text-align:center;
}