.a{
  color:rgb(33, 33, 241);
  text-decoration-line: none;
}
.box1{
  color:rgb(23, 23, 26);
  width:100%;
  font-size: 80%;
}
.box2{
  width:100%;
  color:rgb(23, 23, 26);
  font-size: 80%;
}

.selected{
  text-align: center;
  word-wrap: break-word;
  background-color: rgb(133, 148, 196);
}

.notselected{
  text-align: center;
  word-wrap: break-word;
  background-color: rgb(195, 197, 201);

}

.input{
  width:45%
}
.card{
  background-color: rgb(195, 197, 201); 
}