<div fxLayout="column" >
  <div fxFlex.lg="2%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
  <div  fxLayout="row">
    <div fxFlex.lg="25%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>

    <div fxFlex.lg="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
      <mat-card>
        <form>

          <div class="center"><img src="../../assets/img/google.webp" height=20% width=20%></div>
          <mat-card-title>Create your Google Account</mat-card-title><br>
          <div>Continue to Gmail</div><br>

          <mat-form-field  class="input">
            <input matInput placeholder="First name" >
          </mat-form-field>&nbsp;
          <mat-form-field class="input">
            <input matInput placeholder="Last name" >
          </mat-form-field><br>

          <mat-form-field  class="input"> 
            <input matInput placeholder="username" >
          </mat-form-field>@gmail.com<br>
          <i><small>You can use letters, numbers and periods</small></i><br><br>

          <mat-form-field class="input">
              <input  matInput placeholder="Password" [type]="hide ? 'text' : 'password'">
          </mat-form-field>&nbsp;
          <mat-form-field class="input">
            <input  matInput placeholder="Confirm password" [type]="hide ? 'text' : 'password'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field><br>
          <i><small>Use 8 or more characters with a mix of letters, numbers & symbols</small></i><br><br>
          
          <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="1%">
              <mat-card fxFlex=50% *ngFor="let data of card" mat-button (click)="response(data)" [ngClass]="data.select ? 'selected' : 'notselected'">
                <mat-card-title>{{data.name}}</mat-card-title>
                <mat-card-content>{{data.description}}</mat-card-content>
              </mat-card>
          </div><br>

          <div><a class="a" href="/login" >Sign in instead</a></div>
          <div fxLayoutAlign="end"><a mat-flat-button routerLink=".">Sign Up</a></div>

        </form>
      </mat-card>
    </div>

    <div fxFlex.lg="25%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
  </div>
  <div fxFlex.lg="2%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
</div>