<abbr title="Change color"><mat-icon [matMenuTriggerFor]="menu" matTooltip="">palette</mat-icon></abbr>

<!-- ****************************metmenu for color start****************************** -->
<mat-menu #menu="matMenu">
    <div>
        <abbr title="white"><span class="colorbutton" style="border:1px solid gray" 
            (click)="colorChange('#FFFFFF')"></span></abbr>
        <abbr title="salmon"><span class="colorbutton" style="background-color: salmon" 
            (click)="colorChange('#fa8072')"></span></abbr>
        <abbr title="orange"><span class="colorbutton" style="background-color: rgb(253, 130, 59)" 
            (click)="colorChange('#FF9900')"></span></abbr>
        <abbr title="yellow"><span class="colorbutton" style="background-color: rgb(255, 255, 100)" 
            (click)="colorChange('#FFFF64')"></span></abbr>
    </div>
    <div>
        <abbr title="green"><span class="colorbutton" style="background-color: rgb(102, 255, 102)" 
            (click)="colorChange('#66FF66')"></span></abbr>
        <abbr title="teal"><span class="colorbutton" style="background-color: rgb(91, 180, 180)" 
            (click)="colorChange('#008080')"></span></abbr>
        <abbr title="blue"><span class="colorbutton" style="background-color: rgb(47, 95, 255)" 
            (click)="colorChange('#2F5FFF')"></span></abbr>
        <abbr title="aqua"><span class="colorbutton" style="background-color: aqua" 
            (click)="colorChange('#00FFFF')"></span></abbr>
    </div>
    <div>
        <abbr title="purple"><span class="colorbutton" style="background-color: rgb(155, 44, 155)" 
            (click)="colorChange('#9B2C9B')"></span></abbr>
        <abbr title="pink"><span class="colorbutton" style="background-color: pink" 
            (click)="colorChange('#FFC0CB')"></span></abbr>
        <abbr title="red"><span class="colorbutton" style="background-color: red" 
            (click)="colorChange('#FF1A06')"></span></abbr>
        <abbr title="gray"><span class="colorbutton" style="background-color: gray" 
            (click)="colorChange('#808080')"></span></abbr>
    </div>
</mat-menu>
<!-- ****************************metmenu for color end****************************** -->