@import '../../../scss/mixins';
@import '../../../scss/variables';
.textarea{
    outline: none;
    border:none;
    width:100%;
}
.labelName{
    @include overflowText;  
}
.textarea:empty:before{
    content: attr(data-text);
    @include opacity(0.5);  
    font-size: 12px;
}
.doneIcon{
    font-size: 18px;
    @include opacity(0.7);  
    cursor: pointer;
}
.icon:hover .labelIcon,
.icon .deleteIcon {
    display: none;
    cursor: pointer;
}
.icon:hover .deleteIcon,
.icon .labelIcon {
    display: inline;
    font-size: 20px;
    @include opacity(0.7);  
    cursor: pointer;
}
.done{
    float:right;
    cursor: pointer;
}
.edit_label{
    @include margin(0px,0px,3px,5px);  
}