.error{
  font-size: 70%;
  color:red;
}
.password{
  width:90%;
}
.header{
  font-size: 25px;
  font-family: fantasy;
  font-weight: bold;
}
.blue{
  color:rgb(62, 62, 238);
}
.red{
  color:red;
}
.yellow{
  color:rgb(240, 176, 0);
}
.green{
  color:green;
}