<div fxLayout="column" fxLayoutGap="5%">
  <div fxFlex.lg="20%" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="0%"></div>
  <div  fxLayout="row" fxFlex.lg="70%">
    <div fxFlex.lg="30%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>

    <div fxFlex.lg="40%" fxFlex.md="50%" fxFlex.sm="60%" fxFlex.xs="100%">
      <!-- ****************************matcard start****************************** -->        
      <mat-card>
        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
          <div fxLayoutAlign="center" class=userPage_header>
            <span class=blue>F</span><span class=red>u</span><span class=yellow>n</span>
            <span class=blue>d</span><span class=green>o</span><span class=red>o</span>
          </div>
          <mat-card-title fxLayoutAlign="center"><h4>Reset Password</h4></mat-card-title>
            
          <div>
            <mat-form-field class=full_width>
              <input  matInput placeholder="Password" name="password" maxlength="16" #password="ngModel"
              [(ngModel)]="model.password" [type]="hide ? 'text' : 'password'" pattern="[a-zA-Z0-9!@#$%^&*]*"
              [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required>
            </mat-form-field>
          </div>
          <mat-error class="error" *ngIf="f.submitted && password.invalid">
              <mat-error *ngIf="password.errors.required" >password is required</mat-error>
          </mat-error>
          <div>
            <mat-form-field class=full_width>
              <input  matInput placeholder="Confirm password" name="confpassword" #confpassword="ngModel" 
              [(ngModel)]="model.confpassword" [type]="hide ? 'text' : 'password'"
              [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          </div>
          <mat-error class="error" *ngIf="f.submitted && confpassword.invalid">
            <mat-error *ngIf="confpassword.errors.required" >conf password is required</mat-error>
          </mat-error>

          <div  fxLayoutAlign="end"><button mat-button class=mat_button type="submit" (click)="reset()">Next</button></div>
        </form>
      </mat-card>
      <!-- ****************************matcard end****************************** -->        

    </div>

    <div fxFlex.lg="30%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
  </div>
  <div fxFlex.lg="20%" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="0%"></div>
</div>