@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './scss/variables';
@import './scss/mixins';
@import '~ngx-bar-rating/themes/br-default-theme' ;
// @import '~ngx-bar-rating/themes/br-fontawesome-o-theme';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.error {
    @include error-snap($test-color-red);
}
.margin_top5{
    @include margin(5px,0px,0px,0px);
}
.margin_left20{
    @include margin(0px,0px,0px,20px);
}
.margin_top10{
    @include margin(10px,0px,0px,0px);
}
.back {
    @include color-test($test-color-blue);
    cursor: pointer;
    @include margin(5px,0px,0px,0px);
}
.blue{
    @include color-test($test-color-blue)  
}
.red{
    @include color-test($test-color-red)  
}
.yellow{
    @include color-test($test-color-yellow)
}
.green{
    @include color-test($test-color-green)  
}
.mat_button{
    @include back-ground-color(rgb(62, 62, 238));
}
.userPage_header{
    font-size: 25px;
    font-family: fantasy;
    font-weight: bold;
}
.full_width{
    width: 100%;
}
.paddingTop3{
    padding:3px
}